//dark
$primary-background-color: #242441;
$secondary-background-color-grad-1: #313161;
$secondary-background-color-grad-2: #111132;
$button-background-color: orange;

$primary-text-color: lightgray;
$secondary-text-color: white;

$sky-bg-image1: url("/mountains3.png");
$sky-bg-image2: url("/sky.png");

/* background-color: orange; , background-color: transparent; background-color: white;, gradian of hero page-- #313161, #111132*/
 
//light
$primary-background-color-ligt: rgb(208, 226, 236);
$secondary-background-color-grad-1-light: #eff3f4;
$secondary-background-color-grad-2-light: #6f6f74;
$button-background-color-light: orange;

$primary-text-color-light: rgb(73, 58, 58);
$secondary-text-color-light: black;


$sky-bg-image1-light: url("/mountainday.png");
$sky-bg-image2-light: url("/skysun2.jpg");